
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: ligth;
  }
}


@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

@keyframes skew-y-shakeing{
  0% { transform: skewY(0deg); }
  5% { transform: skewY(7deg);}
  10% { transform: skewY(-3deg); color: #397c5d;}
  15% { transform: skewY(7deg);}
  20% { transform: skewY(0deg); color: black;}
  100% { transform: skewY(0deg); }
 }
